pytest>=7.0.0
mypy==1.8.0;
isort>=5.10.0
autoflake>=1.3.0
flake8>=4.0.0
black==24.3.0
pytest-coverage
mock>=4.0.0
mathy_pydoc>=0.7.27,<0.8.0
typer-cli>=0.0.12

# Mypy type stubs
types-mock
types-dataclasses
